@model DiplomScheduleMVC.Models.ViewListIndexHome
@{
    ViewBag.Title = "ViewIndex";
}

<h2>ViewIndex</h2>
<table class="table">
    <thead>
        <tr>
            <th></th>
            @foreach (var b in Model.DayList)
            {
                <th>@b.DayName</th>
            }
            @*<th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>*@
        </tr>
    </thead>
    @{int countday = 1;} 
    <tbody>
        @foreach (var b in Model.PairList)
        {
            <tr>
                <td>@b.PairNumber</td>
                <td>
                    <p>Предмет: @Model.SubjectList.FirstOrDefault().Schedule.Where(a=>a.DayID==countday).FirstOrDefault().Subject</p>
                    <p>Викладач</p>
                    <p>Аудиторія</p>
                </td>
                <td>mary@example.com</td>
                <td>john@example.com1</td>
                <td>john@example.com2</td>
            </tr>
        }
        @*<tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
            <td>john@example.com1</td>
            <td>john@example.com2</td>
        </tr>
        <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
            <td>john@example.com1</td>
            <td>john@example.com2</td>
        </tr>
        <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
            <td>john@example.com1</td>
            <td>john@example.com2</td>
        </tr>*@
    </tbody>
</table>
</div>



